* {
	font-family: verdana, sans-serif;
}
nav {
	background-color: #262626;
}
nav img {
	width: 50px;
}
p {
	font-size: 15px;
}
a {
	text-decoration: none;
}
body {
	background-color: #262626;
}
h2 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
